@using DevOpsQuickScan.Domain

<div class="question-container">

    <!--// Question //-->
    <div class="question-card">
        <h3>@CurrentQuestion.Question.Text 
            <a href="@CurrentQuestion.Question.Link" target="_blank">
                <i class="fa-solid fa-circle-info"></i>
            </a>
        </h3>
    </div>

    <!--// Answers //-->
    <div class="answers-list mt-4">

        <div class="list-group">
            @foreach (var answer in CurrentQuestion.Question.Answers)
            {
                <button type="button"
                        class="list-group-item list-group-item-action  @(_selectedAnswerId == answer.Id ? "active" : "")"
                        @onclick="() => SelectAnswer(answer.Id)"
                        disabled="@IsAnswerSent">@answer.Text</button>
            }
        </div>
    </div>
    
    <div class="mt-4">
        <button type="button" class="btn btn-primary" @onclick="SendAnswer" disabled="@IsSendButtonDisabled">Send</button>
    </div>

</div>

@code {
    [Parameter] public required QuestionWithAnswers CurrentQuestion { get; set; }
    private int _selectedAnswerId;

    private bool IsAnswerSent { get; set; }
    private bool IsSendButtonDisabled => _selectedAnswerId == 0 || IsAnswerSent;

    private async Task SelectAnswer(int answerId)
    {
        if (IsAnswerSent)
            return;
        
        await InvokeAsync(() =>
        {
            _selectedAnswerId = answerId;
            StateHasChanged();
        });
    }
    
    private async Task SendAnswer()
    {
        if (IsAnswerSent)
            return;
        
        await InvokeAsync(() =>
        {
            IsAnswerSent = true;
            StateHasChanged();
        });
    }


}
