@page "/survey/{SessionName}"
@using DevOpsQuickScan.Web.Components.CustomComponents
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="d-flex">
    <!-- Main Content -->
    <div class="flex-grow-1">
        <div class="quickscan-card quickscan-card-wide">
            @if (_currentQuestion != null)
            {
                <!--// Progress bar //-->
                <div class="progress mb-3">
                    <div class="progress-bar" style="width: @((SessionService.CurrentQuestionIndex + 1) * 100 / SessionService.NumberOfQuestions)%">@(SessionService.CurrentQuestionIndex + 1) of @SessionService.NumberOfQuestions</div>
                </div>

                <QuestionComponent CurrentQuestion="_currentQuestion"/>

                <div class="navigation-controls mt-4">
                    <button class="btn btn-outline-primary" @onclick="PreviousQuestion"
                            disabled="@(SessionService.CurrentQuestionIndex == 0)">
                        <i class="fa-solid fa-chevron-left"></i> Previous
                    </button>
                    <button class="btn btn-primary" @onclick="() => SelectQuestion(_currentQuestion.Question.Id)"> Select this question</button>
                    <button class="btn btn-primary" @onclick="() => RevealAnswers(_currentQuestion.Question.Id)" disabled="disabled">Reveal the answers</button>
                    <button class="btn btn-outline-primary" @onclick="NextQuestion"
                            disabled="@(SessionService.CurrentQuestionIndex >= SessionService.NumberOfQuestions - 1)">
                        Next <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            }
        </div>

    </div>

    <!-- Sidebar -->
    <div class="sidebar bg-light p-3" style="width: 300px; border-left: 1px solid #ddd;">
        <div class="mt-3">
            <h5>Invite</h5>
            
            <div class="list-group">
                <span class="me-2" hidden="true">@_inviteLink</span>
                <button class="list-group-item list-group-item-action" @onclick="CopyToClipboard">
                    <i class="fa-solid fa-copy"></i> Link to join session
                </button>
                
                <button class="list-group-item list-group-item-action" @onclick="OpenQrCodePage">
                    <i class="fa-solid fa-qrcode"></i> QR Code 
                </button>
                
            </div>
        </div>

        <div class="mt-3">
            <h5>Participants</h5>
            <ul class="list-group">
                @foreach (var participant in _participants)
                {
                    <li class="list-group-item">
                        @participant.DisplayName
                    </li>
                }
            </ul>
        </div>
    </div>
</div>